*, *:before, *:after {
    box-sizing: border-box;
  }
  .wrapper {
    display: grid;
  }
  
  @media screen and (min-width: 500px) {
  
    /* no grid support? */
    .sidebar {
      float: left;
      width: 19.1489%;
    }
  
    .content {
      float: right;
      width: 98%;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 9fr;
    }
  
  }
  
  .wrapper > * {
    background-color: #364e63;
    border-bottom: 1px solid #DE6B1E;
    color: #fff;
    width: 100%;
    padding-bottom: 4px;
    /* needed for the floated layout*/
    margin-top: 5px;
    padding-left: 5px;
  }

.box{
    padding-top: 9px !important;
    padding-left: 3px !important;
}

.cast-item{
    color: #DE6B1E;
}

.cast-container{
  margin-top: 5px;
  height: 463px; 
  overflow-y: scroll;
}