<div class="cast-container">
  <div class="wrapper" *ngFor="let c of cast">
    <a routerLink="/actor/{{c.id}}" (click)="hide()">
      <img class="proile-image" src="https://image.tmdb.org/t/p/w45{{c.profile_path}}">
    </a>
    <div class="box content">
      <div>
        <span class="cast-item">Name: </span>
        <a routerLink="/actor/{{c.id}}" (click)="hide()">{{c.name}}</a>
      </div>
      <div>
        <span class="cast-item">Character: </span>{{c.character}}
      </div>
    </div>
  </div>
</div>