<div class="container">
  <div class="wrapper">
    <header class="header">{{movie?.title}}
      <div class="header-vote-container">
        <span class="header-vote">{{movie?.vote_average}}</span>
        <span class="header-max-vote">/10</span>
      </div>
    </header>
    <aside class="sidebar">
      <img class="movie-poster" src="https://image.tmdb.org/t/p/w342/{{movie?.poster_path}}">
    </aside>
    <article class="content">
      <tabset justified="true" type="pills" class="testing">
        <tab heading="Overview">
          <div class="overview-pill">{{movie?.overview}}</div>
        </tab>
        <tab heading="Pills 2">Pills content 2</tab>
        <tab heading="Pills 3">Pills content 3</tab>
        <tab heading="Trailer">
          <div class="video-pill">
            <div class="embed-responsive embed-responsive-16by9">
              <object [data]="trailerUrl | safe"></object>
            </div>
          </div>
        </tab>
      </tabset>
    </article>
    <!--footer class="footer">My footer</footer-->
  </div>
</div>