<div class="container">
  <div class="wrapper">
    <header class="header">{{movie?.title}}
      <div [class.movie-tagline]="movie?.tagline"
           [class.movie-no-tagline]="!movie?.tagline">
        <span class="header-vote">{{movie?.vote_average}}</span>
        <span class="header-max-vote">/10</span>
      </div>
      <div class="tagline">
        {{movie?.tagline}}
      </div>
    </header>
    <aside class="sidebar">
      <img class="movie-poster" src="https://image.tmdb.org/t/p/w342/{{movie?.poster_path}}">
    </aside>
    <article class="content">
      <tabset justified="true" type="pills" class="testing">
        <tab heading="Overview">
          <app-overview [movie]="movie"></app-overview>
        </tab>
        <tab heading="Cast">
          <app-cast [cast]="cast"></app-cast>
        </tab>
        <tab heading="Trailer">
          <div class="video-pill">
            <div class="embed-responsive embed-responsive-16by9">
              <object [data]="trailerUrl | safe"></object>
            </div>
          </div>
        </tab>
      </tabset>
    </article>
    <!--footer class="footer">My footer</footer-->
  </div>
</div>