.movie-list-container{
    background-color: #364e63;
    margin-top: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.card-container{
    display: inline-block;
    width: 345px;
    height: 650px;
    background-color: #364e63;
    margin: 15px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

.movie-poster{
    height: 513px;
    width: 342px;
}

.movie-details{
    padding-top: 10px;
    padding-left: 6px;
    font-size: 15px;
    color: #DE6B1E;
    float: left;
    cursor: pointer;
    border: 0px;
    background-color: #364e63;
}

.movie-rating-max{
    font-size: 15px;
    color: #FFFFFF;
}

.movie-rating{
    font-size: 25px;
    color: #DE6B1E;
    float: right;
    padding-right: 6px;
}

.movie-release-date{
    font-size: 20px;
    color: #FFFFFF;
}

.movie-title{
    color: #DE6B1E;
    font-size: 35px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    padding-left: 4px;
}

.container{
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.search-container{
    background-color:  #364e63;
    height: 170px;
    margin-top: 20px;
    text-align: left;
    padding: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding-left: 50px;

}

.search-title{
    font-size: 35px;
    color: #DE6B1E;
    padding-bottom: 5px;
}

.search-button{
    background-color: #DE6B1E;
    color: #FFFFFF;
    cursor: pointer;
    height: 36px;
    border: 1px solid #DE6B1E;
}

.search-box{
    width: 92%;
    height: 35px;
    padding-left: 5px;
    
}

.search-button:hover{
    background-color: #b35619;
}

@media (min-width: 1200px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 992px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 768px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}