<div class="container">
  <div class="search-container">
    <div class="search-title">
      Search for movies
    </div>
    <form #searchForm="ngForm" (ngSubmit)="search()">
      <input class="search-box" [(ngModel)]="searchTerm" name="searchTerm" placeholder="Search for movies using this form" />
      <button class="search-button">Search</button>
    </form>
  </div>
  <div class="movie-list-container">
    <div *ngIf="searchTerm == ''">
      <a *ngIf="previousPage >= 0" class="previous-page" [routerLink]="['/index']" [queryParams]="{ sort:sortParameter, page: previousPage }">&#8249; Previous</a>
      <a *ngIf="previousPage == -1" class="disabled">Previous</a>
      <span style="color: #FFFFFF">| </span>
      <a class="next-page" [routerLink]="['/index']" [queryParams]="{ sort:sortParameter, page: nextPage }">Next &#8250;</a>
    </div>
    <app-movie-card [movies]="movies.results"></app-movie-card>
  </div>
  <div *ngIf="movies.length == 0">
    <div class="no-movies">No movies found with "{{searchTerm}}" in their titles. :(</div>
  </div>
</div>