.movie-list-container{
    background-color: #364e63;
    margin-top: 15px;
    border-radius: 5px;
}

.container{
    text-align: center;
    padding-left: 90px;
    padding-right: 90px;
}

.search-container{
    background-color:  #364e63;
    height: 170px;
    margin-top: 20px;
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    padding-left: 50px;

}

.search-title{
    font-size: 35px;
    color: #DE6B1E;
    padding-bottom: 5px;
}

.search-button{
    background-color: #DE6B1E;
    color: #FFFFFF;
    cursor: pointer;
    height: 36px;
    border: 1px solid #DE6B1E;
}

.search-box{
    width: 92%;
    height: 35px;
    padding-left: 5px;
    
}

.search-button:hover{
    background-color: #b35619;
}

.no-movies{
    color: #DE6B1E;
    font-size: 35px;
}

a.disabled {
    cursor: not-allowed;
}

@media (min-width: 1200px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 992px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 768px){
    .container {
        max-width: 100%; 
    }
}
@media (min-width: 576px){
    .container {
        max-width: 100%;
    }
}