*, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 40px;
    background-color: #ffffff;
    color: #364e63;
  }

  .content{
    text-align: left;
  }
  
  .wrapper {
    margin: 0 20px;
    display: grid;
    grid-gap: 15px;
  }
  
  @media screen and (min-width: 500px) {
  
    /* no grid support? */
    .sidebar {
      float: left;
      width: 19.1489%;
    }
  
    .content {
      float: right;
      width: 79.7872%;
    }
  
    .wrapper {
      margin: 0 auto;
      grid-template-columns: 1fr 3.4fr;
    }
  
  }
  
  .wrapper > * {
    background-color: #364e63;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    /* needed for the floated layout*/
    margin-bottom: 10px;
  }
  
  /* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
  @supports (display: grid) {
    .wrapper > * {
      width: auto;
      margin: 0;
    }
  }

.container{
  margin-top: 20px;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
}

.movie-list-container{
  background-color: #364e63;
  margin-top: 15px;
  border-radius: 5px;
}

.content-item{
  color: #DE6B1E;
}

.movie-poster{
  width: 342px;
  height: 520px;
}

.content-header{
  color: #DE6B1E;
}

@media (min-width: 1200px){
  .container {
      max-width: 100%; 
  }
}
@media (min-width: 992px){
  .container {
      max-width: 100%; 
  }
}
@media (min-width: 768px){
  .container {
      max-width: 100%; 
  }
}
@media (min-width: 576px){
  .container {
      max-width: 100%;
  }
}